$grid-columns: 12 !default;
$grid-gutter-widths: (xs: 20px,
	sm: 20px,
	md: 40px,
	lg: 40px,
	xl: 40px) !default;
$grid-breakpoints: (
     xxs: 0,
    xs: 480px,
	sm: 768px,
	md: 1024px,
	lg: 1200px) !default;
$container-max-widths: (sm: calc(100vw - 40px),
	md: 960px,
	lg: 1200px,
	xl: 100%) !default; // calc(100vw - 300px)) !default;
$container-fluid-max-widths: (sm: 100%,
	md: 100%,
	lg: 100%,
	xl: 100%) !default; // calc(100vw - 300px)) !default;
