@mixin aspect-grid($w: 4, $h: 3) {
	display: grid;

	&:before,
	&>img,
	&>svg,
	&>video,
	&>* {
		grid-area: 1 / 1 / 2 / 2;
	}

	&:before {
		content: '';
		display: block;
		padding-top: calc(#{$h} / #{$w} * 100%);
	}

	/*
	&::before {
		content: url("data:image/svg+xml,%3Csvg viewBox='0 0 #{$w} #{$h}' xmlns='http://www.w3.org/2000/svg'%3E%3C/svg%3E");
	}
	*/
}

@mixin as-aspect-clip() {
	position: relative;
	width: 100%;
	overflow: hidden;

	&>img,
	&>svg,
	&>video,
	&>canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@mixin as-aspect-clip-size($w: 4, $h: 3) {
	padding-top: 100% / $w * $h;
}

@mixin aspect-clip($w: 4, $h: 3) {
	position: relative;
	width: 100%;
	padding-top: 100% / $w * $h;
	overflow: hidden;

	&>img,
	&>svg,
	&>video,
	&>canvas,
	&>.video,
	&>iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@mixin aspect-bottom($w: 4, $h: 3) {
	position: relative;
	width: 100%;
	padding-top: 100% / $w * $h;
	overflow: hidden;

	&>img,
	&>svg,
	&>video,
	&>canvas {
		position: absolute;
		bottom: 10px;
		left: 0;
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}

@mixin aspect-flex($w: 4, $h: 3) {
	position: relative;
	width: 100%;
	padding-top: 100% / $w * $h;
	overflow: hidden;

	&>.inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}


@mixin important-text {
  font-size: 15px;
  font-weight: 400;
  line-height: auto
}

@mixin margins{
	margin-left: auto;
	margin-right: auto;
}

@mixin paddings{
	padding-left: auto;
	padding-right: auto;
}

@mixin white{
color: $white;
}

@mixin responsive{
  font-size: 15px;
  font-family: "Raleway Light", sans-serif;
  color: rgb(146, 155, 160);
  line-height: auto;
  text-align: left;
}


@mixin portfolio{
  font-size: 40px;
  font-family: "Raleway";
  color: rgb(63, 66, 68);
  line-height: auto;
}

@mixin portfolio-after{
display: block;
height: 2px;
content: "";
background-color: rgb(0, 225, 255) ;
width: 170px;
margin: 25px auto;
text-align: center;
}

@mixin p-portfolio{
font-size: 13px;
  font-family: "Raleway Light", sans-serif;
  line-height: auto;
  font-weight: 400;
  text-align: center;
}

@mixin video{
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  line-height: auto;
}

@mixin p-video{
  font-size: 13px;
  font-family: "Raleway Light", sans-serif;
  color: rgb(255, 255, 255);
  line-height: auto;
  font-weight: 400;
  text-align: center;
  margin-bottom: 70px;
}

@mixin number{
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: auto;
}

@mixin padding{
	padding-left: 20px;
    padding-right: 20px;
}

@mixin wrapper {
	 display: block;
    height: 9px;
    content: "";
    background-color: $white;
    width: 2px;
    margin: 0;
    text-align: center;
    bottom: 0px;
    position: absolute;
}