<!--<header>
	<div class="container-fluid">
		<a class="btn--link" href="https://github.com/actarian/gulp-4-bundler">Gulp 4 Bundler</a>
	</div>
</header>
-->
<header class="header">

		<div class="menu-navigation fixed-top sticky" id="menu">
			<div class="container " id="mainNav"> 
				<nav class="navbar navbar-expand-lg navbar-transparent   container container-custom" >
					<a class="navbar-brand" href="#">
						<img class="logo" src="./assets/images/Logo.png"  alt="logo">
					</a>
					<button class="  navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav  ml-auto">
							
							<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#home"><i class="fa fa-fw fa-home"></i>HOME</a></li>

							
							<li class="nav-item dropdown">
								<a class="nav-link  js-scroll-trigger dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									SERVICES
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="#">Link 1</a>
									<a class="dropdown-item" href="#">Link 2</a>
									<a class="dropdown-item" href="#">Link 3</a>
								</div>
							</li>
							
							<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services"><i class="fa fa-briefcase" aria-hidden="true"></i>PORTFOLIO</a></li>
							<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">ABOUT</a></li>

							
							<li class="nav-item">  <a class="nav-link js-scroll-trigger"   href="#portfolio"><i class="fa fa-newspaper-o" aria-hidden="true"></i>NEWS</a> </li>

							<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact"><i class="fa fa-fw fa-envelope"></i>CONTACT</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>

		
	</header>
