/*
* Fonts
*/

$font-family-light: "Raleway Light", sans-serif;
$font-family-extralight: "Raleway ExtraLight", sans-serif;
$font-family-medium: "Raleway Medium", sans-serif;
$font-family: "Raleway", sans-serif;
$font-family-thin: "Raleway Thin", sans-serif;

$font-weight:  400;


/*Colors*/

$white: #ffffff;
$black: #000000;
$light-sky-blue: #99f3ff;
$background-1: #252726; /*rgb(37, 39, 38)*/
$background-2: transparent;
$light-blue: rgb(0, 225, 255);  /* #00e1ff */
$dark-gray: rgb(63, 66, 68);
$extra-dark-gray: #333;
$light-gray:  rgb(146, 155, 160);
$extralight-gray: #f7f7f7;
$beige: beige;
$gray:  rgb(195, 208, 216);
$dark-beige: #aaa;
$sea: #0f7887;
$card-hover-blue:  #36609e;
$card-hover-sky:  #2ca9e1;
$card-hover-red:  #36609e;
$card-hover-pink:  #36609e;
$light-gray: rgb(200, 205, 206);
$line: rgb(237, 242, 246);
$nav-trigger: #727476;




