/*
* Footer
*/

footer{
 background-color: $black;
}

.endpage{ 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 110px;
  padding-top: 40px;

}

.year, .kat, .right{
  font-size: 15px;
  font-family: $font-family-medium;
  font-weight: $font-weight;
  color: $white;
  line-height: auto;
  display: inline;
}

.kat{
  color: $light-blue;
}
