/*
* Header
*/


header{
	background-color: $white!important;}

.menu-navigation{
	background-color: $white!important;
	height: 100px;
	width: 100%;
}
#menu{
	color: $white;
}

.logo{
	width: 135px;
	height: auto;
}

.container-custom{
	padding: 0px;
}

a.nav-link.js-scroll-trigger{
	color: $nav-trigger;
    font-size: 15px;
    font-family: $font-family-light;
	line-height: auto;
	font-weight: $font-weight;
  padding: 37px 0px 39px 300px;
}

a.nav-link.js-scroll-trigger:hover{
	color: $light-sky-blue;
    border-bottom: 1px solid  #99f3ff;
}
li.nav-item{
	padding-left: 40px;
@include media-down(sm) {
padding-left: 0px;
}
}

.sticky {
    background-color: $white;
    width: 100%;
}

i.fa.fa-fw.fa-home, i.fa.fa-briefcase, i.fa.fa-newspaper-o, i.fa.fa-fw.fa-envelope{
	display: none;
@include media-down(sm) {
		display: inline;
	}
}


.navbar-nav .dropdown-menu {
@include media-down(sm) {
    position: static;
    float: right;
    padding-left: 0rem;
    }
}

 .dropdown-item {
 @include media-down(sm) {
    background-color: #81c7dc;
    color: #ffffff;
    padding: 2px 304px 2px 345px;
    clear: right;
    overflow-x: hidden;
    }
}

    .dropdown-menu {
@include media-down(sm) {
     padding: 0; 
     margin:  0 0; 
    border: 0px solid rgba(0,0,0,.15); 
    border-radius: 0rem; 
    }
}
