/*button {
	font: inherit;
}

%btn {
	display: inline-block;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	appearance: none;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transition: ease-in-out 350ms;
	transition-property: background-color, color, border, opacity;

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		color: inherit;
		text-decoration: none;
		outline: none;
	}

	/*
	&:hover {
		box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.15);
	}
	

  
	&[disabled] {
		opacity: 0.5;
		pointer-events: none;
	}
}

a,
button,
.btn {
	@extend %btn;
}

.btn--link {
	padding: 0 8px;
	font-weight: $font-medium;

	&:hover {
		background: $background-tertiary;
	}
}

*/

/*My buttons*/

.btn{
display: inline-block;
border: 1px solid $white;
}

a.btn.btn-full, .btn.btn-full {
	color: $white;
}

a.btn.btn-full:hover {
    background: $white;
    color: $black !important;
    transition: all .3s ease-in-out;
}


.btn.btn-message:hover, a.btn.btn-start:hover, .btn.btn-subscribe:hover {
    background: $light-blue!important;
    color: $white !important;
    transition: all .3s ease-in-out;
}

.btn.btn-subscribe{
  color: $white;
}


.btn-triangle-active:focus{
  outline: none;
  box-shadow:none!important;
}

.btn-triangle-active:after{
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  display: none;
  background-color: beige;
  bottom: -7px;
  left: 50%;
  margin-left: -6px;
  border-top: $light-blue solid 2px;
  border-left: $light-blue solid 2px;
  transform: rotate(225deg);
}

button.btn-triangle-active.active:after, .btn-triangle-active.active:after, .btn-triangle-active:hover:after{
  display: block;
}

.btn-triangle-active{
  background-color: $background-2;
  border: 2px solid $extra-dark-gray;
  margin-top: 50px;
  height: 61px;
  background-color: inherit;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn-triangle-active.active{
  border: 2px solid $light-blue!important;
  background-color: $background-2!important;
  color: $black;
}

.btn-triangle-active:hover,.btn-triangle-active.active{
  background-color: $background-2!important;
  border-color: $light-blue!important;
  color: $black!important;
}


.button.btn-outline-secondary:hover .btn-for:after, .button.btn-outline-secondary:hover .bottom:after{
  opacity: 1;
  display: block;
}


.btn-outline-primary,.btn-outline-secondary{
@include important-text;
  background-color: $background-2;
  font-family: $font-family-medium;
  color: $dark-gray;
  padding: 20px 190px;
}


.btn-start{
background-color: $background-2;
color: $light-blue;
border: 1px solid $light-blue;
padding: 15px 40px;
}

.btn-all, .btn-web, .btn-photo, .btn-gd{
  display: inline-block;
  font-size: 13px;
  font-family: $font-family;
  line-height: auto;
  border: 0px;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 20px 30px;
}

.btn-all:hover, 
.btn-web:hover, 
.btn-photo:hover, 
.btn-gd:hover{
 border: 1px solid $light-blue;
}


.button.is-checked {
  color: $white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px   $light-blue;;
}

/* ---- button-group ---- */
.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  border-radius: 0px;
  border-color: $light-blue;;
  @include margins; 
}


button.btn.btn-primary{
  background-color: $background-2;
  border: none;
  color: $black;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 170px;
}
