

.hero-section{
  margin-top: 28px;
  background-color: $background-1;
  position: relative;
  background-image: url(../css/images/dsgn.png);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.ket-text-box{
	background-color: $background-2!important;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (min-width: 1200px){
	.container, .container-lg, .container-md, .container-sm, .container-xl {
	    max-width: 1172px;
	}
}

.bannertitle{
	color: $white;
	font-size: 60px;
	font-family: $font-family-extralight;
	line-height: auto;
	font-weight: $font-weight;
}