
i.far.fa-play-circle, i.far.fa-caret-circle-right{
color: $white;
font-size: 35px;
}


i.fal.fa-chevron-circle-left, i.fal.fa-chevron-circle-right{
color: $white;
background-color: $background-2;
font-size: 32px;
padding-right: 25px;
padding-left: 25px;
}

i.fab.fa-facebook-f{
  padding-top: 20px;}

.icons.i{
	background-color: transparent;

}



